.DS_Store
/.idea/
/examples/VIDEO5/School/.idea/
/examples/VIDEO5/School/target/
/examples/VIDEO5/School/school.iml

/examples/VIDEO6/IntSchool/target/
/examples/VIDEO6/IntSchool/.idea/
/examples/VIDEO6/IntSchool/IntSchool.iml
