.DS_Store
/.idea/
.vscode/settings.json

/examples/VIDEO5_6_SpringBoot/School/target/
/examples/VIDEO5_6_SpringBoot/School/.idea/
/examples/VIDEO5_6_SpringBoot/School/school.iml

/examples/VIDEO7_Wildfly/IntSchool/.idea/
/examples/VIDEO7_Wildfly/IntSchool/target/
/examples/VIDEO7_Wildfly/IntSchool/IntSchool.iml

/examples/VIDEO7a_Tomcat/IntSchool/.idea/
/examples/VIDEO7a_Tomcat/IntSchool/IntSchool.iml
/examples/VIDEO7a_Tomcat/IntSchool/target/
/examples/VIDEO7a_Tomcat/IntSchool/.project
/examples/VIDEO7a_Tomcat/IntSchool/.classpath
/examples/VIDEO7a_Tomcat/IntSchool/.settings/

examples/VIDEO9_VueJsApp/hi5code-school/node_modules/*

examples/VIDEO10_AngularApp/hi5code-school/node_modules
examples/VIDEO10_AngularApp/hi5code-school/e2e
examples/VIDEO10_AngularApp/hi5code-school/dist