<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <module-name>Internal School Application</module-name>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Internal</web-resource-name>
      <url-pattern>/internal/time</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>time_access</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Internal</web-resource-name>
      <url-pattern>/internal/salary</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>salary_access</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Internal</web-resource-name>
      <url-pattern>/internal/download</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>download_access</role-name>
    </auth-constraint>
  </security-constraint>

   <login-config>
       <auth-method>BASIC</auth-method>
       <realm-name>this is ignored currently</realm-name>
   </login-config>

   <security-role>
       <role-name>time_access</role-name>
   </security-role>
   <security-role>
       <role-name>salary_access</role-name>
   </security-role>
   <security-role>
       <role-name>download_access</role-name>
   </security-role>

</web-app>